$palette: (
	darkteal: #151d1c,
	teal:#192322,
	olive: #282a21,
	darkolive: #21241c,
	yellow: #c98c29,
	green:#7ea356,
	white: #c7bab2,
);

// #151d1c
//#c98c29
//#282a21
//#192322
//#c7bab2
//#21241c
//#7ea356