$cell-size: 50px;

.cell {
    border: 1px solid black;
    width: $cell-size;
    height: $cell-size;
}

.dark {
    background-color: grey;
}

.light {
    background-color: seashell;
}

.special-light {
    background-color: rgb(255, 255, 155);
}

.special-dark {
    background-color: rgb(144, 146, 86);
}