#loading-message {
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 2;
  }
  
  #loading-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 3vh;
  }
  
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #2F80ED; /* Light grey */
    border-top: 10px solid #4a4a4a; /* Black */
    border-radius: 50%;
    animation: spinner .9s linear infinite;
  }
  
    .material-symbols-outlined {
      margin-left: 1vw;
      font-variation-settings:
      'wght' 700,
    }
  
  .overlaydata{
      grid-area: 2 / 3 / 2 / 5;
      z-index: 1;
      display: grid;
      padding-top: 10%;
     
  }
    