.mainmenu-view {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr) 2fr;
    grid-template-rows: 2fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    place-items: center;
}

.mainmenu-view .button {
    border: 1px solid rgb(34, 34, 34);
    border-radius: 4px;
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(37, 37, 37);

}

#menu_buttons {
    grid-area: 2 / 2 / 3 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    width: 100%;
    height: 100%;
}

#play-button {
    background-color: rgb(109, 208, 111);
    text-align: center;
    width: 40%;
    height: 30px;


    &:hover {
        background-color: rgb(66, 190, 74);
    }
}

#quit-button {
    background-color: rgb(211, 105, 105);
    text-align: center;
    width: 25%;
    height: 30px;

    &:hover {
        background-color: rgb(189, 72, 72);
    }
}

#dev-mode-button {
    background-color: rgb(167, 115, 210);
    text-align: center;
    width: 35%;
    height: 30px;


    &:hover {
        background-color: rgb(138, 72, 191);
    }
}

#title-logo {
    grid-area: 1 / 1 / 2 / 6;
}